<header>
  <mat-toolbar>
    <span>DocPatient</span>
  </mat-toolbar>
</header>
<body>
<mat-tab-group backgroundColor="accent">
  <mat-tab label="All Rendez-vous">
    <mat-accordion class="accordion" *ngFor="let rdv of this.userService.listRendezVous">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{rdv.nameDoctor}}
          </mat-panel-title>
          <mat-panel-description>
            {{rdv.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{rdv.date}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="New Rendez-vous">

    <form [formGroup]="doctorForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Select doctor</mat-label>
          <mat-select formControlName="doctor" >
            <mat-option *ngFor="let doctor of this.userService.listDoctor" [value]="doctor.uid">{{doctor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field >
          <input  formControlName="date"  matInput [min]="today" [matDatepicker] = "picker" placeholder = "Choose a date">
          <mat-datepicker-toggle  matSuffix [for] = "picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </p>
      <p>
        <button (click)="this.createRendezVous()"   disableRipple="false"  mat-raised-button color="accent">Send</button>
      </p>
    </form>
  </mat-tab>
</mat-tab-group>
</body>


